---
import Layout from '../layouts/Layout.astro';
---
<Layout title="AKA">
  <main class="max-w-xl mx-auto px-4 py-16 text-center">
    <div class="prose lg:prose-xl mx-auto">
      <h1 class="text-4xl font-bold mb-4"> Hi AKA </h1>
      
    </div>
  </main>
</Layout>